<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PIS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- tento filter umozni pristup lektorovi a adminovi -->
  <filter>
     <filter-name>LectorAdminAuthorizationFilter</filter-name>
     <filter-class>pis.back.AuthenticationFilter</filter-class>
     <init-param>
      <param-name>role</param-name>
      <param-value>lector,admin</param-value>
    </init-param> 
  </filter>
  
  <!-- tento umozi pristup iba adminovi -->
  <filter>
     <filter-name>AdminAuthorizationFilter</filter-name>
     <filter-class>pis.back.AuthenticationFilter</filter-class>
     <init-param>
      <param-name>role</param-name>
      <param-value>admin</param-value>
    </init-param> 
  </filter>
  
  <filter>
     <filter-name>LectorAuthorizationFilter</filter-name>
     <filter-class>pis.back.AuthenticationFilter</filter-class>
     <init-param>
      <param-name>role</param-name>
      <param-value>lector</param-value>
    </init-param> 
  </filter>
  
  <!-- zoznam stranok, kde ma pristup iba lektor -->
  <filter-mapping>
     <filter-name>LectorAuthorizationFilter</filter-name>
     <url-pattern>/faces/lector_lections.xhtml</url-pattern>
     <url-pattern>/faces/lector_opened_courses.xhtml</url-pattern>
     <url-pattern>/faces/lector_screen.xhtml</url-pattern>
     <dispatcher>REQUEST</dispatcher>
     <dispatcher>FORWARD</dispatcher>
     <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  
  <!-- TODO zmaz - len na ukazku -->
  <filter-mapping>
     <filter-name>AdminAuthorizationFilter</filter-name>
     <url-pattern>/faces/lector_new.xhtml</url-pattern>
     <dispatcher>REQUEST</dispatcher>
     <dispatcher>FORWARD</dispatcher>
     <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>